/*!
    OXCSS Color IBM1
    Define colors for OXCSS from the IBM Design Language v1 color set.

    Colors from IBM v1
    https://www.ibm.com/design/v1/language/resources/color-library/
*/


/* Color Variables */
:root {


    /* IBM v1 - Blue */
    --ox-color-ibm1-blue-1:   #e1ebf7;
    --ox-color-ibm1-blue-10:  #c8daf4;
    --ox-color-ibm1-blue-20:  #a8c0f3;
    --ox-color-ibm1-blue-30:  #79a6f6;
    --ox-color-ibm1-blue-40:  #5392ff;
    --ox-color-ibm1-blue-50:  #2d74da;
    --ox-color-ibm1-blue-60:  #1f57a4;
    --ox-color-ibm1-blue-70:  #25467a;
    --ox-color-ibm1-blue-80:  #1d3458;
    --ox-color-ibm1-blue-90:  #19273c;



    /* IBM v1 - ultramarine */
    --ox-color-ibm1-ultramarine-1:   #e7e9f7;
    --ox-color-ibm1-ultramarine-10:  #d1d7f4;
    --ox-color-ibm1-ultramarine-20:  #b0bef3;
    --ox-color-ibm1-ultramarine-30:  #89a2f6;
    --ox-color-ibm1-ultramarine-40:  #648fff;
    --ox-color-ibm1-ultramarine-50:  #3c6df0;
    --ox-color-ibm1-ultramarine-60:  #3151b7;
    --ox-color-ibm1-ultramarine-70:  #2e3f8f;
    --ox-color-ibm1-ultramarine-80:  #252e6a;
    --ox-color-ibm1-ultramarine-90:  #20214f;


    /* IBM v1 - cerulean */
    --ox-color-ibm1-cerulean-1:   #deedf7;
    --ox-color-ibm1-cerulean-10:  #c2dbf4;
    --ox-color-ibm1-cerulean-20:  #95c4f3;
    --ox-color-ibm1-cerulean-30:  #56acf2;
    --ox-color-ibm1-cerulean-40:  #009bef;
    --ox-color-ibm1-cerulean-50:  #047cc0;
    --ox-color-ibm1-cerulean-60:  #175d8d;
    --ox-color-ibm1-cerulean-70:  #1c496d;
    --ox-color-ibm1-cerulean-80:  #1d364d;
    --ox-color-ibm1-cerulean-90:  #1b2834;


    /* IBM v1 - aqua */
    --ox-color-ibm1-aqua-1:   #d1f0f7;
    --ox-color-ibm1-aqua-10:  #a0e3f0;
    --ox-color-ibm1-aqua-20:  #71cddd;
    --ox-color-ibm1-aqua-30:  #00b6cb;
    --ox-color-ibm1-aqua-40:  #12a3b4;
    --ox-color-ibm1-aqua-50:  #188291;
    --ox-color-ibm1-aqua-60:  #17616b;
    --ox-color-ibm1-aqua-70:  #164d56;
    --ox-color-ibm1-aqua-80:  #13393e;
    --ox-color-ibm1-aqua-90:  #122a2e;



    /* IBM v1 - teal */
    --ox-color-ibm1-teal-1:   #c0f5e8;
    --ox-color-ibm1-teal-10:  #8ee9d4;
    --ox-color-ibm1-teal-20:  #40d5bb;
    --ox-color-ibm1-teal-30:  #00baa1;
    --ox-color-ibm1-teal-40:  #00a78f;
    --ox-color-ibm1-teal-50:  #008673;
    --ox-color-ibm1-teal-60:  #006456;
    --ox-color-ibm1-teal-70:  #124f44;
    --ox-color-ibm1-teal-80:  #133a32;
    --ox-color-ibm1-teal-90:  #122b26;


    /* IBM v1 - green */
    --ox-color-ibm1-green-1:   #cef3d1;
    --ox-color-ibm1-green-10:  #89eda0;
    --ox-color-ibm1-green-20:  #57d785;
    --ox-color-ibm1-green-30:  #34bc6e;
    --ox-color-ibm1-green-40:  #00aa5e;
    --ox-color-ibm1-green-50:  #00884b;
    --ox-color-ibm1-green-60:  #116639;
    --ox-color-ibm1-green-70:  #12512e;
    --ox-color-ibm1-green-80:  #123b22;
    --ox-color-ibm1-green-90:  #112c1b;


    /* IBM v1 - lime */
    --ox-color-ibm1-lime-1:   #d7f4bd;
    --ox-color-ibm1-lime-10:  #b4e876;
    --ox-color-ibm1-lime-20:  #95d13c;
    --ox-color-ibm1-lime-30:  #81b532;
    --ox-color-ibm1-lime-40:  #73a22c;
    --ox-color-ibm1-lime-50:  #5b8121;
    --ox-color-ibm1-lime-60:  #426200;
    --ox-color-ibm1-lime-70:  #374c1a;
    --ox-color-ibm1-lime-80:  #283912;
    --ox-color-ibm1-lime-90:  #1f2a10;


    /* IBM v1 - yellow */
    --ox-color-ibm1-yellow-1:   #fbeaae;
    --ox-color-ibm1-yellow-10:  #fed500;
    --ox-color-ibm1-yellow-20:  #e3bc13;
    --ox-color-ibm1-yellow-30:  #c6a21a;
    --ox-color-ibm1-yellow-40:  #b3901f;
    --ox-color-ibm1-yellow-50:  #91721f;
    --ox-color-ibm1-yellow-60:  #70541b;
    --ox-color-ibm1-yellow-70:  #5b421a;
    --ox-color-ibm1-yellow-80:  #452f18;
    --ox-color-ibm1-yellow-90:  #372118;





    /* IBM v1 - gold */
    --ox-color-ibm1-gold-1:   #f5e8db;
    --ox-color-ibm1-gold-10:  #ffd191;
    --ox-color-ibm1-gold-20:  #ffb000;
    --ox-color-ibm1-gold-30:  #e39d14;
    --ox-color-ibm1-gold-40:  #c4881c;
    --ox-color-ibm1-gold-50:  #9c6d1e;
    --ox-color-ibm1-gold-60:  #74521b;
    --ox-color-ibm1-gold-70:  #5b421c;
    --ox-color-ibm1-gold-80:  #42301b;
    --ox-color-ibm1-gold-90:  #2f261c;



    /* IBM v1 - orange */
    --ox-color-ibm1-orange-1:   #f5e8de;
    --ox-color-ibm1-orange-10:  #fdcfad;
    --ox-color-ibm1-orange-20:  #fcaf6d;
    --ox-color-ibm1-orange-30:  #fe8500;
    --ox-color-ibm1-orange-40:  #db7c00;
    --ox-color-ibm1-orange-50:  #ad6418;
    --ox-color-ibm1-orange-60:  #814b19;
    --ox-color-ibm1-orange-70:  #653d1b;
    --ox-color-ibm1-orange-80:  #482e1a;
    --ox-color-ibm1-orange-90:  #33241c;



    /* IBM v1 - peach */
    --ox-color-ibm1-peach-1:   #f7e7e2;
    --ox-color-ibm1-peach-10:  #f8d0c3;
    --ox-color-ibm1-peach-20:  #faad96;
    --ox-color-ibm1-peach-30:  #fc835c;
    --ox-color-ibm1-peach-40:  #fe6100;
    --ox-color-ibm1-peach-50:  #c45433;
    --ox-color-ibm1-peach-60:  #993a1d;
    --ox-color-ibm1-peach-70:  #782f1c;
    --ox-color-ibm1-peach-80:  #56251a;
    --ox-color-ibm1-peach-90:  #3a201b;




    /* IBM v1 - red */
    --ox-color-ibm1-red-1:   #f7e6e6;
    --ox-color-ibm1-red-10:  #fccec7;
    --ox-color-ibm1-red-20:  #ffaa9d;
    --ox-color-ibm1-red-30:  #ff806c;
    --ox-color-ibm1-red-40:  #ff5c49;
    --ox-color-ibm1-red-50:  #e62325;
    --ox-color-ibm1-red-60:  #aa231f;
    --ox-color-ibm1-red-70:  #83231e;
    --ox-color-ibm1-red-80:  #5c1f1b;
    --ox-color-ibm1-red-90:  #3e1d1b;





    /* IBM v1 - magenta */
    --ox-color-ibm1-magenta-1:   #f5e7eb;
    --ox-color-ibm1-magenta-10:  #f5cedb;
    --ox-color-ibm1-magenta-20:  #f7aac3;
    --ox-color-ibm1-magenta-30:  #f87eac;
    --ox-color-ibm1-magenta-40:  #ff509e;
    --ox-color-ibm1-magenta-50:  #dc267f;
    --ox-color-ibm1-magenta-60:  #a91560;
    --ox-color-ibm1-magenta-70:  #831b4c;
    --ox-color-ibm1-magenta-80:  #5d1a38;
    --ox-color-ibm1-magenta-90:  #401a29;



    /* IBM v1 - purple */
    --ox-color-ibm1-purple-1:   #f7e4fb;
    --ox-color-ibm1-purple-10:  #efcef3;
    --ox-color-ibm1-purple-20:  #e4adea;
    --ox-color-ibm1-purple-30:  #d68adf;
    --ox-color-ibm1-purple-40:  #cb71d7;
    --ox-color-ibm1-purple-50:  #c22dd5;
    --ox-color-ibm1-purple-60:  #9320a2;
    --ox-color-ibm1-purple-70:  #71237c;
    --ox-color-ibm1-purple-80:  #501e58;
    --ox-color-ibm1-purple-90:  #3b1a40;




    /* IBM v1 - violet */
    --ox-color-ibm1-violet-1:   #ece8f5;
    --ox-color-ibm1-violet-10:  #e2d2f4;
    --ox-color-ibm1-violet-20:  #d2b5f0;
    --ox-color-ibm1-violet-30:  #bf93eb;
    --ox-color-ibm1-violet-40:  #b07ce8;
    --ox-color-ibm1-violet-50:  #9753e1;
    --ox-color-ibm1-violet-60:  #7732bb;
    --ox-color-ibm1-violet-70:  #602797;
    --ox-color-ibm1-violet-80:  #44216a;
    --ox-color-ibm1-violet-90:  #321c4c;



    /* IBM v1 - indigo */
    --ox-color-ibm1-indigo-1:   #e9e8ff;
    --ox-color-ibm1-indigo-10:  #dcd4f7;
    --ox-color-ibm1-indigo-20:  #c7b6f7;
    --ox-color-ibm1-indigo-30:  #ae97f4;
    --ox-color-ibm1-indigo-40:  #9b82f3;
    --ox-color-ibm1-indigo-50:  #785ef0;
    --ox-color-ibm1-indigo-60:  #5a3ec8;
    --ox-color-ibm1-indigo-70:  #473793;
    --ox-color-ibm1-indigo-80:  #352969;
    --ox-color-ibm1-indigo-90:  #272149;




    /* IBM v1 - gray */
    --ox-color-ibm1-gray-1:   #eaeaea;
    --ox-color-ibm1-gray-10:  #d8d8d8;
    --ox-color-ibm1-gray-20:  #c0bfc0;
    --ox-color-ibm1-gray-30:  #a6a5a6;
    --ox-color-ibm1-gray-40:  #949394;
    --ox-color-ibm1-gray-50:  #777677;
    --ox-color-ibm1-gray-60:  #595859;
    --ox-color-ibm1-gray-70:  #464646;
    --ox-color-ibm1-gray-80:  #343334;
    --ox-color-ibm1-gray-90:  #272727;




    /* IBM v1 - cool-gray */
    --ox-color-ibm1-cool-gray-1:   #e3ecec;
    --ox-color-ibm1-cool-gray-10:  #d0dada;
    --ox-color-ibm1-cool-gray-20:  #b8c1c1;
    --ox-color-ibm1-cool-gray-30:  #9fa7a7;
    --ox-color-ibm1-cool-gray-40:  #8c9696;
    --ox-color-ibm1-cool-gray-50:  #6f7878;
    --ox-color-ibm1-cool-gray-60:  #535a5a;
    --ox-color-ibm1-cool-gray-70:  #424747;
    --ox-color-ibm1-cool-gray-80:  #343334;
    --ox-color-ibm1-cool-gray-90:  #272727;



    /* IBM v1 - warm-gray */
    --ox-color-ibm1-warm-gray-1:   #efe9e9;
    --ox-color-ibm1-warm-gray-10:  #e2d5d5;
    --ox-color-ibm1-warm-gray-20:  #ccbcbc;
    --ox-color-ibm1-warm-gray-30:  #b4a1a1;
    --ox-color-ibm1-warm-gray-40:  #9e9191;
    --ox-color-ibm1-warm-gray-50:  #7d7373;
    --ox-color-ibm1-warm-gray-60:  #5f5757;
    --ox-color-ibm1-warm-gray-70:  #4b4545;
    --ox-color-ibm1-warm-gray-80:  #373232;
    --ox-color-ibm1-warm-gray-90:  #2a2626;





    /* IBM v1 - neutral-white */
    --ox-color-ibm1-neutral-white-1:   #fcfcfc;
    --ox-color-ibm1-neutral-white-2:   #f9f9f9;
    --ox-color-ibm1-neutral-white-3:   #f6f6f6;
    --ox-color-ibm1-neutral-white-4:   #f3f3f3;






    /* IBM v1 - cool-white */
    --ox-color-ibm1-cool-white-1:   #fbfcfc;
    --ox-color-ibm1-cool-white-2:   #f8fafa;
    --ox-color-ibm1-cool-white-3:   #f4f7f7;
    --ox-color-ibm1-cool-white-4:   #f0f4f4;





    /* IBM v1 - warm-white */
    --ox-color-ibm1-warm-white-1:   #fdfcfc;
    --ox-color-ibm1-warm-white-2:   #fbf8f8;
    --ox-color-ibm1-warm-white-3:   #f9f6f6;
    --ox-color-ibm1-warm-white-4:   #f6f3f3;











}
/* ============================================================================ */

/* FG */



/* ibm1 blue */
[data-ox-text-color="ibm1-blue-1"]  { color: var(--ox-color-ibm1-blue-1);  }
[data-ox-text-color="ibm1-blue-10"] { color: var(--ox-color-ibm1-blue-10); }
[data-ox-text-color="ibm1-blue-20"] { color: var(--ox-color-ibm1-blue-20); }
[data-ox-text-color="ibm1-blue-30"] { color: var(--ox-color-ibm1-blue-30); }
[data-ox-text-color="ibm1-blue-40"] { color: var(--ox-color-ibm1-blue-40); }
[data-ox-text-color="ibm1-blue-50"] { color: var(--ox-color-ibm1-blue-50); }
[data-ox-text-color="ibm1-blue-60"] { color: var(--ox-color-ibm1-blue-60); }
[data-ox-text-color="ibm1-blue-70"] { color: var(--ox-color-ibm1-blue-70); }
[data-ox-text-color="ibm1-blue-80"] { color: var(--ox-color-ibm1-blue-80); }
[data-ox-text-color="ibm1-blue-90"] { color: var(--ox-color-ibm1-blue-90); }


/* ibm1 ultramarine */
[data-ox-text-color="ibm1-ultramarine-1"]  { color: var(--ox-color-ibm1-ultramarine-1);  }
[data-ox-text-color="ibm1-ultramarine-10"] { color: var(--ox-color-ibm1-ultramarine-10); }
[data-ox-text-color="ibm1-ultramarine-20"] { color: var(--ox-color-ibm1-ultramarine-20); }
[data-ox-text-color="ibm1-ultramarine-30"] { color: var(--ox-color-ibm1-ultramarine-30); }
[data-ox-text-color="ibm1-ultramarine-40"] { color: var(--ox-color-ibm1-ultramarine-40); }
[data-ox-text-color="ibm1-ultramarine-50"] { color: var(--ox-color-ibm1-ultramarine-50); }
[data-ox-text-color="ibm1-ultramarine-60"] { color: var(--ox-color-ibm1-ultramarine-60); }
[data-ox-text-color="ibm1-ultramarine-70"] { color: var(--ox-color-ibm1-ultramarine-70); }
[data-ox-text-color="ibm1-ultramarine-80"] { color: var(--ox-color-ibm1-ultramarine-80); }
[data-ox-text-color="ibm1-ultramarine-90"] { color: var(--ox-color-ibm1-ultramarine-90); }



/* ibm1 cerulean */
[data-ox-text-color="ibm1-cerulean-1"]  { color: var(--ox-color-ibm1-cerulean-1);  }
[data-ox-text-color="ibm1-cerulean-10"] { color: var(--ox-color-ibm1-cerulean-10); }
[data-ox-text-color="ibm1-cerulean-20"] { color: var(--ox-color-ibm1-cerulean-20); }
[data-ox-text-color="ibm1-cerulean-30"] { color: var(--ox-color-ibm1-cerulean-30); }
[data-ox-text-color="ibm1-cerulean-40"] { color: var(--ox-color-ibm1-cerulean-40); }
[data-ox-text-color="ibm1-cerulean-50"] { color: var(--ox-color-ibm1-cerulean-50); }
[data-ox-text-color="ibm1-cerulean-60"] { color: var(--ox-color-ibm1-cerulean-60); }
[data-ox-text-color="ibm1-cerulean-70"] { color: var(--ox-color-ibm1-cerulean-70); }
[data-ox-text-color="ibm1-cerulean-80"] { color: var(--ox-color-ibm1-cerulean-80); }
[data-ox-text-color="ibm1-cerulean-90"] { color: var(--ox-color-ibm1-cerulean-90); }


/* ibm1 aqua */
[data-ox-text-color="ibm1-aqua-1"]  { color: var(--ox-color-ibm1-aqua-1);  }
[data-ox-text-color="ibm1-aqua-10"] { color: var(--ox-color-ibm1-aqua-10); }
[data-ox-text-color="ibm1-aqua-20"] { color: var(--ox-color-ibm1-aqua-20); }
[data-ox-text-color="ibm1-aqua-30"] { color: var(--ox-color-ibm1-aqua-30); }
[data-ox-text-color="ibm1-aqua-40"] { color: var(--ox-color-ibm1-aqua-40); }
[data-ox-text-color="ibm1-aqua-50"] { color: var(--ox-color-ibm1-aqua-50); }
[data-ox-text-color="ibm1-aqua-60"] { color: var(--ox-color-ibm1-aqua-60); }
[data-ox-text-color="ibm1-aqua-70"] { color: var(--ox-color-ibm1-aqua-70); }
[data-ox-text-color="ibm1-aqua-80"] { color: var(--ox-color-ibm1-aqua-80); }
[data-ox-text-color="ibm1-aqua-90"] { color: var(--ox-color-ibm1-aqua-90); }




/* ibm1 teal */
[data-ox-text-color="ibm1-teal-1"]  { color: var(--ox-color-ibm1-teal-1);  }
[data-ox-text-color="ibm1-teal-10"] { color: var(--ox-color-ibm1-teal-10); }
[data-ox-text-color="ibm1-teal-20"] { color: var(--ox-color-ibm1-teal-20); }
[data-ox-text-color="ibm1-teal-30"] { color: var(--ox-color-ibm1-teal-30); }
[data-ox-text-color="ibm1-teal-40"] { color: var(--ox-color-ibm1-teal-40); }
[data-ox-text-color="ibm1-teal-50"] { color: var(--ox-color-ibm1-teal-50); }
[data-ox-text-color="ibm1-teal-60"] { color: var(--ox-color-ibm1-teal-60); }
[data-ox-text-color="ibm1-teal-70"] { color: var(--ox-color-ibm1-teal-70); }
[data-ox-text-color="ibm1-teal-80"] { color: var(--ox-color-ibm1-teal-80); }
[data-ox-text-color="ibm1-teal-90"] { color: var(--ox-color-ibm1-teal-90); }


/* ibm1 green */
[data-ox-text-color="ibm1-green-1"]  { color: var(--ox-color-ibm1-green-1);  }
[data-ox-text-color="ibm1-green-10"] { color: var(--ox-color-ibm1-green-10); }
[data-ox-text-color="ibm1-green-20"] { color: var(--ox-color-ibm1-green-20); }
[data-ox-text-color="ibm1-green-30"] { color: var(--ox-color-ibm1-green-30); }
[data-ox-text-color="ibm1-green-40"] { color: var(--ox-color-ibm1-green-40); }
[data-ox-text-color="ibm1-green-50"] { color: var(--ox-color-ibm1-green-50); }
[data-ox-text-color="ibm1-green-60"] { color: var(--ox-color-ibm1-green-60); }
[data-ox-text-color="ibm1-green-70"] { color: var(--ox-color-ibm1-green-70); }
[data-ox-text-color="ibm1-green-80"] { color: var(--ox-color-ibm1-green-80); }
[data-ox-text-color="ibm1-green-90"] { color: var(--ox-color-ibm1-green-90); }


/* ibm1 lime */
[data-ox-text-color="ibm1-lime-1"]  { color: var(--ox-color-ibm1-lime-1);  }
[data-ox-text-color="ibm1-lime-10"] { color: var(--ox-color-ibm1-lime-10); }
[data-ox-text-color="ibm1-lime-20"] { color: var(--ox-color-ibm1-lime-20); }
[data-ox-text-color="ibm1-lime-30"] { color: var(--ox-color-ibm1-lime-30); }
[data-ox-text-color="ibm1-lime-40"] { color: var(--ox-color-ibm1-lime-40); }
[data-ox-text-color="ibm1-lime-50"] { color: var(--ox-color-ibm1-lime-50); }
[data-ox-text-color="ibm1-lime-60"] { color: var(--ox-color-ibm1-lime-60); }
[data-ox-text-color="ibm1-lime-70"] { color: var(--ox-color-ibm1-lime-70); }
[data-ox-text-color="ibm1-lime-80"] { color: var(--ox-color-ibm1-lime-80); }
[data-ox-text-color="ibm1-lime-90"] { color: var(--ox-color-ibm1-lime-90); }


/* ibm1 yellow */
[data-ox-text-color="ibm1-yellow-1"]  { color: var(--ox-color-ibm1-yellow-1);  }
[data-ox-text-color="ibm1-yellow-10"] { color: var(--ox-color-ibm1-yellow-10); }
[data-ox-text-color="ibm1-yellow-20"] { color: var(--ox-color-ibm1-yellow-20); }
[data-ox-text-color="ibm1-yellow-30"] { color: var(--ox-color-ibm1-yellow-30); }
[data-ox-text-color="ibm1-yellow-40"] { color: var(--ox-color-ibm1-yellow-40); }
[data-ox-text-color="ibm1-yellow-50"] { color: var(--ox-color-ibm1-yellow-50); }
[data-ox-text-color="ibm1-yellow-60"] { color: var(--ox-color-ibm1-yellow-60); }
[data-ox-text-color="ibm1-yellow-70"] { color: var(--ox-color-ibm1-yellow-70); }
[data-ox-text-color="ibm1-yellow-80"] { color: var(--ox-color-ibm1-yellow-80); }
[data-ox-text-color="ibm1-yellow-90"] { color: var(--ox-color-ibm1-yellow-90); }


/* ibm1 gold */
[data-ox-text-color="ibm1-gold-1"]  { color: var(--ox-color-ibm1-gold-1);  }
[data-ox-text-color="ibm1-gold-10"] { color: var(--ox-color-ibm1-gold-10); }
[data-ox-text-color="ibm1-gold-20"] { color: var(--ox-color-ibm1-gold-20); }
[data-ox-text-color="ibm1-gold-30"] { color: var(--ox-color-ibm1-gold-30); }
[data-ox-text-color="ibm1-gold-40"] { color: var(--ox-color-ibm1-gold-40); }
[data-ox-text-color="ibm1-gold-50"] { color: var(--ox-color-ibm1-gold-50); }
[data-ox-text-color="ibm1-gold-60"] { color: var(--ox-color-ibm1-gold-60); }
[data-ox-text-color="ibm1-gold-70"] { color: var(--ox-color-ibm1-gold-70); }
[data-ox-text-color="ibm1-gold-80"] { color: var(--ox-color-ibm1-gold-80); }
[data-ox-text-color="ibm1-gold-90"] { color: var(--ox-color-ibm1-gold-90); }



/* ibm1 orange */
[data-ox-text-color="ibm1-orange-1"]  { color: var(--ox-color-ibm1-orange-1);  }
[data-ox-text-color="ibm1-orange-10"] { color: var(--ox-color-ibm1-orange-10); }
[data-ox-text-color="ibm1-orange-20"] { color: var(--ox-color-ibm1-orange-20); }
[data-ox-text-color="ibm1-orange-30"] { color: var(--ox-color-ibm1-orange-30); }
[data-ox-text-color="ibm1-orange-40"] { color: var(--ox-color-ibm1-orange-40); }
[data-ox-text-color="ibm1-orange-50"] { color: var(--ox-color-ibm1-orange-50); }
[data-ox-text-color="ibm1-orange-60"] { color: var(--ox-color-ibm1-orange-60); }
[data-ox-text-color="ibm1-orange-70"] { color: var(--ox-color-ibm1-orange-70); }
[data-ox-text-color="ibm1-orange-80"] { color: var(--ox-color-ibm1-orange-80); }
[data-ox-text-color="ibm1-orange-90"] { color: var(--ox-color-ibm1-orange-90); }


/* ibm1 peach */
[data-ox-text-color="ibm1-peach-1"]  { color: var(--ox-color-ibm1-peach-1);  }
[data-ox-text-color="ibm1-peach-10"] { color: var(--ox-color-ibm1-peach-10); }
[data-ox-text-color="ibm1-peach-20"] { color: var(--ox-color-ibm1-peach-20); }
[data-ox-text-color="ibm1-peach-30"] { color: var(--ox-color-ibm1-peach-30); }
[data-ox-text-color="ibm1-peach-40"] { color: var(--ox-color-ibm1-peach-40); }
[data-ox-text-color="ibm1-peach-50"] { color: var(--ox-color-ibm1-peach-50); }
[data-ox-text-color="ibm1-peach-60"] { color: var(--ox-color-ibm1-peach-60); }
[data-ox-text-color="ibm1-peach-70"] { color: var(--ox-color-ibm1-peach-70); }
[data-ox-text-color="ibm1-peach-80"] { color: var(--ox-color-ibm1-peach-80); }
[data-ox-text-color="ibm1-peach-90"] { color: var(--ox-color-ibm1-peach-90); }




/* ibm1 red */
[data-ox-text-color="ibm1-red-1"]  { color: var(--ox-color-ibm1-red-1);  }
[data-ox-text-color="ibm1-red-10"] { color: var(--ox-color-ibm1-red-10); }
[data-ox-text-color="ibm1-red-20"] { color: var(--ox-color-ibm1-red-20); }
[data-ox-text-color="ibm1-red-30"] { color: var(--ox-color-ibm1-red-30); }
[data-ox-text-color="ibm1-red-40"] { color: var(--ox-color-ibm1-red-40); }
[data-ox-text-color="ibm1-red-50"] { color: var(--ox-color-ibm1-red-50); }
[data-ox-text-color="ibm1-red-60"] { color: var(--ox-color-ibm1-red-60); }
[data-ox-text-color="ibm1-red-70"] { color: var(--ox-color-ibm1-red-70); }
[data-ox-text-color="ibm1-red-80"] { color: var(--ox-color-ibm1-red-80); }
[data-ox-text-color="ibm1-red-90"] { color: var(--ox-color-ibm1-red-90); }



/* ibm1 magenta */
[data-ox-text-color="ibm1-magenta-1"]  { color: var(--ox-color-ibm1-magenta-1);  }
[data-ox-text-color="ibm1-magenta-10"] { color: var(--ox-color-ibm1-magenta-10); }
[data-ox-text-color="ibm1-magenta-20"] { color: var(--ox-color-ibm1-magenta-20); }
[data-ox-text-color="ibm1-magenta-30"] { color: var(--ox-color-ibm1-magenta-30); }
[data-ox-text-color="ibm1-magenta-40"] { color: var(--ox-color-ibm1-magenta-40); }
[data-ox-text-color="ibm1-magenta-50"] { color: var(--ox-color-ibm1-magenta-50); }
[data-ox-text-color="ibm1-magenta-60"] { color: var(--ox-color-ibm1-magenta-60); }
[data-ox-text-color="ibm1-magenta-70"] { color: var(--ox-color-ibm1-magenta-70); }
[data-ox-text-color="ibm1-magenta-80"] { color: var(--ox-color-ibm1-magenta-80); }
[data-ox-text-color="ibm1-magenta-90"] { color: var(--ox-color-ibm1-magenta-90); }




/* ibm1 purple */
[data-ox-text-color="ibm1-purple-1"]  { color: var(--ox-color-ibm1-purple-1);  }
[data-ox-text-color="ibm1-purple-10"] { color: var(--ox-color-ibm1-purple-10); }
[data-ox-text-color="ibm1-purple-20"] { color: var(--ox-color-ibm1-purple-20); }
[data-ox-text-color="ibm1-purple-30"] { color: var(--ox-color-ibm1-purple-30); }
[data-ox-text-color="ibm1-purple-40"] { color: var(--ox-color-ibm1-purple-40); }
[data-ox-text-color="ibm1-purple-50"] { color: var(--ox-color-ibm1-purple-50); }
[data-ox-text-color="ibm1-purple-60"] { color: var(--ox-color-ibm1-purple-60); }
[data-ox-text-color="ibm1-purple-70"] { color: var(--ox-color-ibm1-purple-70); }
[data-ox-text-color="ibm1-purple-80"] { color: var(--ox-color-ibm1-purple-80); }
[data-ox-text-color="ibm1-purple-90"] { color: var(--ox-color-ibm1-purple-90); }



/* ibm1 violet */
[data-ox-text-color="ibm1-violet-1"]  { color: var(--ox-color-ibm1-violet-1);  }
[data-ox-text-color="ibm1-violet-10"] { color: var(--ox-color-ibm1-violet-10); }
[data-ox-text-color="ibm1-violet-20"] { color: var(--ox-color-ibm1-violet-20); }
[data-ox-text-color="ibm1-violet-30"] { color: var(--ox-color-ibm1-violet-30); }
[data-ox-text-color="ibm1-violet-40"] { color: var(--ox-color-ibm1-violet-40); }
[data-ox-text-color="ibm1-violet-50"] { color: var(--ox-color-ibm1-violet-50); }
[data-ox-text-color="ibm1-violet-60"] { color: var(--ox-color-ibm1-violet-60); }
[data-ox-text-color="ibm1-violet-70"] { color: var(--ox-color-ibm1-violet-70); }
[data-ox-text-color="ibm1-violet-80"] { color: var(--ox-color-ibm1-violet-80); }
[data-ox-text-color="ibm1-violet-90"] { color: var(--ox-color-ibm1-violet-90); }



/* ibm1 indigo */
[data-ox-text-color="ibm1-indigo-1"]  { color: var(--ox-color-ibm1-indigo-1);  }
[data-ox-text-color="ibm1-indigo-10"] { color: var(--ox-color-ibm1-indigo-10); }
[data-ox-text-color="ibm1-indigo-20"] { color: var(--ox-color-ibm1-indigo-20); }
[data-ox-text-color="ibm1-indigo-30"] { color: var(--ox-color-ibm1-indigo-30); }
[data-ox-text-color="ibm1-indigo-40"] { color: var(--ox-color-ibm1-indigo-40); }
[data-ox-text-color="ibm1-indigo-50"] { color: var(--ox-color-ibm1-indigo-50); }
[data-ox-text-color="ibm1-indigo-60"] { color: var(--ox-color-ibm1-indigo-60); }
[data-ox-text-color="ibm1-indigo-70"] { color: var(--ox-color-ibm1-indigo-70); }
[data-ox-text-color="ibm1-indigo-80"] { color: var(--ox-color-ibm1-indigo-80); }
[data-ox-text-color="ibm1-indigo-90"] { color: var(--ox-color-ibm1-indigo-90); }



/* ibm1 gray */
[data-ox-text-color="ibm1-gray-1"]  { color: var(--ox-color-ibm1-gray-1);  }
[data-ox-text-color="ibm1-gray-10"] { color: var(--ox-color-ibm1-gray-10); }
[data-ox-text-color="ibm1-gray-20"] { color: var(--ox-color-ibm1-gray-20); }
[data-ox-text-color="ibm1-gray-30"] { color: var(--ox-color-ibm1-gray-30); }
[data-ox-text-color="ibm1-gray-40"] { color: var(--ox-color-ibm1-gray-40); }
[data-ox-text-color="ibm1-gray-50"] { color: var(--ox-color-ibm1-gray-50); }
[data-ox-text-color="ibm1-gray-60"] { color: var(--ox-color-ibm1-gray-60); }
[data-ox-text-color="ibm1-gray-70"] { color: var(--ox-color-ibm1-gray-70); }
[data-ox-text-color="ibm1-gray-80"] { color: var(--ox-color-ibm1-gray-80); }
[data-ox-text-color="ibm1-gray-90"] { color: var(--ox-color-ibm1-gray-90); }




/* ibm1 cool-gray */
[data-ox-text-color="ibm1-cool-gray-1"]  { color: var(--ox-color-ibm1-cool-gray-1);  }
[data-ox-text-color="ibm1-cool-gray-10"] { color: var(--ox-color-ibm1-cool-gray-10); }
[data-ox-text-color="ibm1-cool-gray-20"] { color: var(--ox-color-ibm1-cool-gray-20); }
[data-ox-text-color="ibm1-cool-gray-30"] { color: var(--ox-color-ibm1-cool-gray-30); }
[data-ox-text-color="ibm1-cool-gray-40"] { color: var(--ox-color-ibm1-cool-gray-40); }
[data-ox-text-color="ibm1-cool-gray-50"] { color: var(--ox-color-ibm1-cool-gray-50); }
[data-ox-text-color="ibm1-cool-gray-60"] { color: var(--ox-color-ibm1-cool-gray-60); }
[data-ox-text-color="ibm1-cool-gray-70"] { color: var(--ox-color-ibm1-cool-gray-70); }
[data-ox-text-color="ibm1-cool-gray-80"] { color: var(--ox-color-ibm1-cool-gray-80); }
[data-ox-text-color="ibm1-cool-gray-90"] { color: var(--ox-color-ibm1-cool-gray-90); }




/* ibm1 warm-gray */
[data-ox-text-color="ibm1-warm-gray-1"]  { color: var(--ox-color-ibm1-warm-gray-1);  }
[data-ox-text-color="ibm1-warm-gray-10"] { color: var(--ox-color-ibm1-warm-gray-10); }
[data-ox-text-color="ibm1-warm-gray-20"] { color: var(--ox-color-ibm1-warm-gray-20); }
[data-ox-text-color="ibm1-warm-gray-30"] { color: var(--ox-color-ibm1-warm-gray-30); }
[data-ox-text-color="ibm1-warm-gray-40"] { color: var(--ox-color-ibm1-warm-gray-40); }
[data-ox-text-color="ibm1-warm-gray-50"] { color: var(--ox-color-ibm1-warm-gray-50); }
[data-ox-text-color="ibm1-warm-gray-60"] { color: var(--ox-color-ibm1-warm-gray-60); }
[data-ox-text-color="ibm1-warm-gray-70"] { color: var(--ox-color-ibm1-warm-gray-70); }
[data-ox-text-color="ibm1-warm-gray-80"] { color: var(--ox-color-ibm1-warm-gray-80); }
[data-ox-text-color="ibm1-warm-gray-90"] { color: var(--ox-color-ibm1-warm-gray-90); }



/* ibm1 neutral-white */
[data-ox-text-color="ibm1-neutral-white-1"] { color: var(--ox-color-ibm1-neutral-white-1); }
[data-ox-text-color="ibm1-neutral-white-2"] { color: var(--ox-color-ibm1-neutral-white-2); }
[data-ox-text-color="ibm1-neutral-white-3"] { color: var(--ox-color-ibm1-neutral-white-3); }
[data-ox-text-color="ibm1-neutral-white-4"] { color: var(--ox-color-ibm1-neutral-white-4); }



/* ibm1 cool-white */
[data-ox-text-color="ibm1-cool-white-1"] { color: var(--ox-color-ibm1-cool-white-1); }
[data-ox-text-color="ibm1-cool-white-2"] { color: var(--ox-color-ibm1-cool-white-2); }
[data-ox-text-color="ibm1-cool-white-3"] { color: var(--ox-color-ibm1-cool-white-3); }
[data-ox-text-color="ibm1-cool-white-4"] { color: var(--ox-color-ibm1-cool-white-4); }


/* ibm1 warm-white */
[data-ox-text-color="ibm1-warm-white-1"] { color: var(--ox-color-ibm1-warm-white-1); }
[data-ox-text-color="ibm1-warm-white-2"] { color: var(--ox-color-ibm1-warm-white-2); }
[data-ox-text-color="ibm1-warm-white-3"] { color: var(--ox-color-ibm1-warm-white-3); }
[data-ox-text-color="ibm1-warm-white-4"] { color: var(--ox-color-ibm1-warm-white-4); }


/* ============================================================================ */

/* BG */



/* ibm1 blue */
[data-ox-bg-color="ibm1-blue-1"]   { background-color: var(--ox-color-ibm1-blue-1);  }
[data-ox-bg-color="ibm1-blue-10"]  { background-color: var(--ox-color-ibm1-blue-10); }
[data-ox-bg-color="ibm1-blue-20"]  { background-color: var(--ox-color-ibm1-blue-20); }
[data-ox-bg-color="ibm1-blue-30"]  { background-color: var(--ox-color-ibm1-blue-30); }
[data-ox-bg-color="ibm1-blue-40"]  { background-color: var(--ox-color-ibm1-blue-40); }
[data-ox-bg-color="ibm1-blue-50"]  { background-color: var(--ox-color-ibm1-blue-50); }
[data-ox-bg-color="ibm1-blue-60"]  { background-color: var(--ox-color-ibm1-blue-60); }
[data-ox-bg-color="ibm1-blue-70"]  { background-color: var(--ox-color-ibm1-blue-70); }
[data-ox-bg-color="ibm1-blue-80"]  { background-color: var(--ox-color-ibm1-blue-80); }
[data-ox-bg-color="ibm1-blue-90"]  { background-color: var(--ox-color-ibm1-blue-90); }





/* ibm1 ultramarine */
[data-ox-bg-color="ibm1-ultramarine-1"]   { background-color: var(--ox-color-ibm1-ultramarine-1);  }
[data-ox-bg-color="ibm1-ultramarine-10"]  { background-color: var(--ox-color-ibm1-ultramarine-10); }
[data-ox-bg-color="ibm1-ultramarine-20"]  { background-color: var(--ox-color-ibm1-ultramarine-20); }
[data-ox-bg-color="ibm1-ultramarine-30"]  { background-color: var(--ox-color-ibm1-ultramarine-30); }
[data-ox-bg-color="ibm1-ultramarine-40"]  { background-color: var(--ox-color-ibm1-ultramarine-40); }
[data-ox-bg-color="ibm1-ultramarine-50"]  { background-color: var(--ox-color-ibm1-ultramarine-50); }
[data-ox-bg-color="ibm1-ultramarine-60"]  { background-color: var(--ox-color-ibm1-ultramarine-60); }
[data-ox-bg-color="ibm1-ultramarine-70"]  { background-color: var(--ox-color-ibm1-ultramarine-70); }
[data-ox-bg-color="ibm1-ultramarine-80"]  { background-color: var(--ox-color-ibm1-ultramarine-80); }
[data-ox-bg-color="ibm1-ultramarine-90"]  { background-color: var(--ox-color-ibm1-ultramarine-90); }



/* ibm1 cerulean */
[data-ox-bg-color="ibm1-cerulean-1"]   { background-color: var(--ox-color-ibm1-cerulean-1);  }
[data-ox-bg-color="ibm1-cerulean-10"]  { background-color: var(--ox-color-ibm1-cerulean-10); }
[data-ox-bg-color="ibm1-cerulean-20"]  { background-color: var(--ox-color-ibm1-cerulean-20); }
[data-ox-bg-color="ibm1-cerulean-30"]  { background-color: var(--ox-color-ibm1-cerulean-30); }
[data-ox-bg-color="ibm1-cerulean-40"]  { background-color: var(--ox-color-ibm1-cerulean-40); }
[data-ox-bg-color="ibm1-cerulean-50"]  { background-color: var(--ox-color-ibm1-cerulean-50); }
[data-ox-bg-color="ibm1-cerulean-60"]  { background-color: var(--ox-color-ibm1-cerulean-60); }
[data-ox-bg-color="ibm1-cerulean-70"]  { background-color: var(--ox-color-ibm1-cerulean-70); }
[data-ox-bg-color="ibm1-cerulean-80"]  { background-color: var(--ox-color-ibm1-cerulean-80); }
[data-ox-bg-color="ibm1-cerulean-90"]  { background-color: var(--ox-color-ibm1-cerulean-90); }


/* ibm1 aqua */
[data-ox-bg-color="ibm1-aqua-1"]   { background-color: var(--ox-color-ibm1-aqua-1);  }
[data-ox-bg-color="ibm1-aqua-10"]  { background-color: var(--ox-color-ibm1-aqua-10); }
[data-ox-bg-color="ibm1-aqua-20"]  { background-color: var(--ox-color-ibm1-aqua-20); }
[data-ox-bg-color="ibm1-aqua-30"]  { background-color: var(--ox-color-ibm1-aqua-30); }
[data-ox-bg-color="ibm1-aqua-40"]  { background-color: var(--ox-color-ibm1-aqua-40); }
[data-ox-bg-color="ibm1-aqua-50"]  { background-color: var(--ox-color-ibm1-aqua-50); }
[data-ox-bg-color="ibm1-aqua-60"]  { background-color: var(--ox-color-ibm1-aqua-60); }
[data-ox-bg-color="ibm1-aqua-70"]  { background-color: var(--ox-color-ibm1-aqua-70); }
[data-ox-bg-color="ibm1-aqua-80"]  { background-color: var(--ox-color-ibm1-aqua-80); }
[data-ox-bg-color="ibm1-aqua-90"]  { background-color: var(--ox-color-ibm1-aqua-90); }




/* ibm1 teal */
[data-ox-bg-color="ibm1-teal-1"]   { background-color: var(--ox-color-ibm1-teal-1);  }
[data-ox-bg-color="ibm1-teal-10"]  { background-color: var(--ox-color-ibm1-teal-10); }
[data-ox-bg-color="ibm1-teal-20"]  { background-color: var(--ox-color-ibm1-teal-20); }
[data-ox-bg-color="ibm1-teal-30"]  { background-color: var(--ox-color-ibm1-teal-30); }
[data-ox-bg-color="ibm1-teal-40"]  { background-color: var(--ox-color-ibm1-teal-40); }
[data-ox-bg-color="ibm1-teal-50"]  { background-color: var(--ox-color-ibm1-teal-50); }
[data-ox-bg-color="ibm1-teal-60"]  { background-color: var(--ox-color-ibm1-teal-60); }
[data-ox-bg-color="ibm1-teal-70"]  { background-color: var(--ox-color-ibm1-teal-70); }
[data-ox-bg-color="ibm1-teal-80"]  { background-color: var(--ox-color-ibm1-teal-80); }
[data-ox-bg-color="ibm1-teal-90"]  { background-color: var(--ox-color-ibm1-teal-90); }


/* ibm1 green */
[data-ox-bg-color="ibm1-green-1"]   { background-color: var(--ox-color-ibm1-green-1);  }
[data-ox-bg-color="ibm1-green-10"]  { background-color: var(--ox-color-ibm1-green-10); }
[data-ox-bg-color="ibm1-green-20"]  { background-color: var(--ox-color-ibm1-green-20); }
[data-ox-bg-color="ibm1-green-30"]  { background-color: var(--ox-color-ibm1-green-30); }
[data-ox-bg-color="ibm1-green-40"]  { background-color: var(--ox-color-ibm1-green-40); }
[data-ox-bg-color="ibm1-green-50"]  { background-color: var(--ox-color-ibm1-green-50); }
[data-ox-bg-color="ibm1-green-60"]  { background-color: var(--ox-color-ibm1-green-60); }
[data-ox-bg-color="ibm1-green-70"]  { background-color: var(--ox-color-ibm1-green-70); }
[data-ox-bg-color="ibm1-green-80"]  { background-color: var(--ox-color-ibm1-green-80); }
[data-ox-bg-color="ibm1-green-90"]  { background-color: var(--ox-color-ibm1-green-90); }




/* ibm1 lime */
[data-ox-bg-color="ibm1-lime-1"]   { background-color: var(--ox-color-ibm1-lime-1);  }
[data-ox-bg-color="ibm1-lime-10"]  { background-color: var(--ox-color-ibm1-lime-10); }
[data-ox-bg-color="ibm1-lime-20"]  { background-color: var(--ox-color-ibm1-lime-20); }
[data-ox-bg-color="ibm1-lime-30"]  { background-color: var(--ox-color-ibm1-lime-30); }
[data-ox-bg-color="ibm1-lime-40"]  { background-color: var(--ox-color-ibm1-lime-40); }
[data-ox-bg-color="ibm1-lime-50"]  { background-color: var(--ox-color-ibm1-lime-50); }
[data-ox-bg-color="ibm1-lime-60"]  { background-color: var(--ox-color-ibm1-lime-60); }
[data-ox-bg-color="ibm1-lime-70"]  { background-color: var(--ox-color-ibm1-lime-70); }
[data-ox-bg-color="ibm1-lime-80"]  { background-color: var(--ox-color-ibm1-lime-80); }
[data-ox-bg-color="ibm1-lime-90"]  { background-color: var(--ox-color-ibm1-lime-90); }



/* ibm1 yellow */
[data-ox-bg-color="ibm1-yellow-1"]   { background-color: var(--ox-color-ibm1-yellow-1);  }
[data-ox-bg-color="ibm1-yellow-10"]  { background-color: var(--ox-color-ibm1-yellow-10); }
[data-ox-bg-color="ibm1-yellow-20"]  { background-color: var(--ox-color-ibm1-yellow-20); }
[data-ox-bg-color="ibm1-yellow-30"]  { background-color: var(--ox-color-ibm1-yellow-30); }
[data-ox-bg-color="ibm1-yellow-40"]  { background-color: var(--ox-color-ibm1-yellow-40); }
[data-ox-bg-color="ibm1-yellow-50"]  { background-color: var(--ox-color-ibm1-yellow-50); }
[data-ox-bg-color="ibm1-yellow-60"]  { background-color: var(--ox-color-ibm1-yellow-60); }
[data-ox-bg-color="ibm1-yellow-70"]  { background-color: var(--ox-color-ibm1-yellow-70); }
[data-ox-bg-color="ibm1-yellow-80"]  { background-color: var(--ox-color-ibm1-yellow-80); }
[data-ox-bg-color="ibm1-yellow-90"]  { background-color: var(--ox-color-ibm1-yellow-90); }



/* ibm1 gold */
[data-ox-bg-color="ibm1-gold-1"]   { background-color: var(--ox-color-ibm1-gold-1);  }
[data-ox-bg-color="ibm1-gold-10"]  { background-color: var(--ox-color-ibm1-gold-10); }
[data-ox-bg-color="ibm1-gold-20"]  { background-color: var(--ox-color-ibm1-gold-20); }
[data-ox-bg-color="ibm1-gold-30"]  { background-color: var(--ox-color-ibm1-gold-30); }
[data-ox-bg-color="ibm1-gold-40"]  { background-color: var(--ox-color-ibm1-gold-40); }
[data-ox-bg-color="ibm1-gold-50"]  { background-color: var(--ox-color-ibm1-gold-50); }
[data-ox-bg-color="ibm1-gold-60"]  { background-color: var(--ox-color-ibm1-gold-60); }
[data-ox-bg-color="ibm1-gold-70"]  { background-color: var(--ox-color-ibm1-gold-70); }
[data-ox-bg-color="ibm1-gold-80"]  { background-color: var(--ox-color-ibm1-gold-80); }
[data-ox-bg-color="ibm1-gold-90"]  { background-color: var(--ox-color-ibm1-gold-90); }







/* ibm1 orange */
[data-ox-bg-color="ibm1-orange-1"]   { background-color: var(--ox-color-ibm1-orange-1);  }
[data-ox-bg-color="ibm1-orange-10"]  { background-color: var(--ox-color-ibm1-orange-10); }
[data-ox-bg-color="ibm1-orange-20"]  { background-color: var(--ox-color-ibm1-orange-20); }
[data-ox-bg-color="ibm1-orange-30"]  { background-color: var(--ox-color-ibm1-orange-30); }
[data-ox-bg-color="ibm1-orange-40"]  { background-color: var(--ox-color-ibm1-orange-40); }
[data-ox-bg-color="ibm1-orange-50"]  { background-color: var(--ox-color-ibm1-orange-50); }
[data-ox-bg-color="ibm1-orange-60"]  { background-color: var(--ox-color-ibm1-orange-60); }
[data-ox-bg-color="ibm1-orange-70"]  { background-color: var(--ox-color-ibm1-orange-70); }
[data-ox-bg-color="ibm1-orange-80"]  { background-color: var(--ox-color-ibm1-orange-80); }
[data-ox-bg-color="ibm1-orange-90"]  { background-color: var(--ox-color-ibm1-orange-90); }




/* ibm1 peach */
[data-ox-bg-color="ibm1-peach-1"]   { background-color: var(--ox-color-ibm1-peach-1);  }
[data-ox-bg-color="ibm1-peach-10"]  { background-color: var(--ox-color-ibm1-peach-10); }
[data-ox-bg-color="ibm1-peach-20"]  { background-color: var(--ox-color-ibm1-peach-20); }
[data-ox-bg-color="ibm1-peach-30"]  { background-color: var(--ox-color-ibm1-peach-30); }
[data-ox-bg-color="ibm1-peach-40"]  { background-color: var(--ox-color-ibm1-peach-40); }
[data-ox-bg-color="ibm1-peach-50"]  { background-color: var(--ox-color-ibm1-peach-50); }
[data-ox-bg-color="ibm1-peach-60"]  { background-color: var(--ox-color-ibm1-peach-60); }
[data-ox-bg-color="ibm1-peach-70"]  { background-color: var(--ox-color-ibm1-peach-70); }
[data-ox-bg-color="ibm1-peach-80"]  { background-color: var(--ox-color-ibm1-peach-80); }
[data-ox-bg-color="ibm1-peach-90"]  { background-color: var(--ox-color-ibm1-peach-90); }




/* ibm1 red */
[data-ox-bg-color="ibm1-red-1"]   { background-color: var(--ox-color-ibm1-red-1);  }
[data-ox-bg-color="ibm1-red-10"]  { background-color: var(--ox-color-ibm1-red-10); }
[data-ox-bg-color="ibm1-red-20"]  { background-color: var(--ox-color-ibm1-red-20); }
[data-ox-bg-color="ibm1-red-30"]  { background-color: var(--ox-color-ibm1-red-30); }
[data-ox-bg-color="ibm1-red-40"]  { background-color: var(--ox-color-ibm1-red-40); }
[data-ox-bg-color="ibm1-red-50"]  { background-color: var(--ox-color-ibm1-red-50); }
[data-ox-bg-color="ibm1-red-60"]  { background-color: var(--ox-color-ibm1-red-60); }
[data-ox-bg-color="ibm1-red-70"]  { background-color: var(--ox-color-ibm1-red-70); }
[data-ox-bg-color="ibm1-red-80"]  { background-color: var(--ox-color-ibm1-red-80); }
[data-ox-bg-color="ibm1-red-90"]  { background-color: var(--ox-color-ibm1-red-90); }





/* ibm1 magenta */
[data-ox-bg-color="ibm1-magenta-1"]   { background-color: var(--ox-color-ibm1-magenta-1);  }
[data-ox-bg-color="ibm1-magenta-10"]  { background-color: var(--ox-color-ibm1-magenta-10); }
[data-ox-bg-color="ibm1-magenta-20"]  { background-color: var(--ox-color-ibm1-magenta-20); }
[data-ox-bg-color="ibm1-magenta-30"]  { background-color: var(--ox-color-ibm1-magenta-30); }
[data-ox-bg-color="ibm1-magenta-40"]  { background-color: var(--ox-color-ibm1-magenta-40); }
[data-ox-bg-color="ibm1-magenta-50"]  { background-color: var(--ox-color-ibm1-magenta-50); }
[data-ox-bg-color="ibm1-magenta-60"]  { background-color: var(--ox-color-ibm1-magenta-60); }
[data-ox-bg-color="ibm1-magenta-70"]  { background-color: var(--ox-color-ibm1-magenta-70); }
[data-ox-bg-color="ibm1-magenta-80"]  { background-color: var(--ox-color-ibm1-magenta-80); }
[data-ox-bg-color="ibm1-magenta-90"]  { background-color: var(--ox-color-ibm1-magenta-90); }




/* ibm1 purple */
[data-ox-bg-color="ibm1-purple-1"]   { background-color: var(--ox-color-ibm1-purple-1);  }
[data-ox-bg-color="ibm1-purple-10"]  { background-color: var(--ox-color-ibm1-purple-10); }
[data-ox-bg-color="ibm1-purple-20"]  { background-color: var(--ox-color-ibm1-purple-20); }
[data-ox-bg-color="ibm1-purple-30"]  { background-color: var(--ox-color-ibm1-purple-30); }
[data-ox-bg-color="ibm1-purple-40"]  { background-color: var(--ox-color-ibm1-purple-40); }
[data-ox-bg-color="ibm1-purple-50"]  { background-color: var(--ox-color-ibm1-purple-50); }
[data-ox-bg-color="ibm1-purple-60"]  { background-color: var(--ox-color-ibm1-purple-60); }
[data-ox-bg-color="ibm1-purple-70"]  { background-color: var(--ox-color-ibm1-purple-70); }
[data-ox-bg-color="ibm1-purple-80"]  { background-color: var(--ox-color-ibm1-purple-80); }
[data-ox-bg-color="ibm1-purple-90"]  { background-color: var(--ox-color-ibm1-purple-90); }



/* ibm1 violet */
[data-ox-bg-color="ibm1-violet-1"]   { background-color: var(--ox-color-ibm1-violet-1);  }
[data-ox-bg-color="ibm1-violet-10"]  { background-color: var(--ox-color-ibm1-violet-10); }
[data-ox-bg-color="ibm1-violet-20"]  { background-color: var(--ox-color-ibm1-violet-20); }
[data-ox-bg-color="ibm1-violet-30"]  { background-color: var(--ox-color-ibm1-violet-30); }
[data-ox-bg-color="ibm1-violet-40"]  { background-color: var(--ox-color-ibm1-violet-40); }
[data-ox-bg-color="ibm1-violet-50"]  { background-color: var(--ox-color-ibm1-violet-50); }
[data-ox-bg-color="ibm1-violet-60"]  { background-color: var(--ox-color-ibm1-violet-60); }
[data-ox-bg-color="ibm1-violet-70"]  { background-color: var(--ox-color-ibm1-violet-70); }
[data-ox-bg-color="ibm1-violet-80"]  { background-color: var(--ox-color-ibm1-violet-80); }
[data-ox-bg-color="ibm1-violet-90"]  { background-color: var(--ox-color-ibm1-violet-90); }



/* ibm1 indigo */
[data-ox-bg-color="ibm1-indigo-1"]   { background-color: var(--ox-color-ibm1-indigo-1);  }
[data-ox-bg-color="ibm1-indigo-10"]  { background-color: var(--ox-color-ibm1-indigo-10); }
[data-ox-bg-color="ibm1-indigo-20"]  { background-color: var(--ox-color-ibm1-indigo-20); }
[data-ox-bg-color="ibm1-indigo-30"]  { background-color: var(--ox-color-ibm1-indigo-30); }
[data-ox-bg-color="ibm1-indigo-40"]  { background-color: var(--ox-color-ibm1-indigo-40); }
[data-ox-bg-color="ibm1-indigo-50"]  { background-color: var(--ox-color-ibm1-indigo-50); }
[data-ox-bg-color="ibm1-indigo-60"]  { background-color: var(--ox-color-ibm1-indigo-60); }
[data-ox-bg-color="ibm1-indigo-70"]  { background-color: var(--ox-color-ibm1-indigo-70); }
[data-ox-bg-color="ibm1-indigo-80"]  { background-color: var(--ox-color-ibm1-indigo-80); }
[data-ox-bg-color="ibm1-indigo-90"]  { background-color: var(--ox-color-ibm1-indigo-90); }




/* ibm1 gray */
[data-ox-bg-color="ibm1-gray-1"]   { background-color: var(--ox-color-ibm1-gray-1);  }
[data-ox-bg-color="ibm1-gray-10"]  { background-color: var(--ox-color-ibm1-gray-10); }
[data-ox-bg-color="ibm1-gray-20"]  { background-color: var(--ox-color-ibm1-gray-20); }
[data-ox-bg-color="ibm1-gray-30"]  { background-color: var(--ox-color-ibm1-gray-30); }
[data-ox-bg-color="ibm1-gray-40"]  { background-color: var(--ox-color-ibm1-gray-40); }
[data-ox-bg-color="ibm1-gray-50"]  { background-color: var(--ox-color-ibm1-gray-50); }
[data-ox-bg-color="ibm1-gray-60"]  { background-color: var(--ox-color-ibm1-gray-60); }
[data-ox-bg-color="ibm1-gray-70"]  { background-color: var(--ox-color-ibm1-gray-70); }
[data-ox-bg-color="ibm1-gray-80"]  { background-color: var(--ox-color-ibm1-gray-80); }
[data-ox-bg-color="ibm1-gray-90"]  { background-color: var(--ox-color-ibm1-gray-90); }





/* ibm1 cool-gray */
[data-ox-bg-color="ibm1-cool-gray-1"]   { background-color: var(--ox-color-ibm1-cool-gray-1);  }
[data-ox-bg-color="ibm1-cool-gray-10"]  { background-color: var(--ox-color-ibm1-cool-gray-10); }
[data-ox-bg-color="ibm1-cool-gray-20"]  { background-color: var(--ox-color-ibm1-cool-gray-20); }
[data-ox-bg-color="ibm1-cool-gray-30"]  { background-color: var(--ox-color-ibm1-cool-gray-30); }
[data-ox-bg-color="ibm1-cool-gray-40"]  { background-color: var(--ox-color-ibm1-cool-gray-40); }
[data-ox-bg-color="ibm1-cool-gray-50"]  { background-color: var(--ox-color-ibm1-cool-gray-50); }
[data-ox-bg-color="ibm1-cool-gray-60"]  { background-color: var(--ox-color-ibm1-cool-gray-60); }
[data-ox-bg-color="ibm1-cool-gray-70"]  { background-color: var(--ox-color-ibm1-cool-gray-70); }
[data-ox-bg-color="ibm1-cool-gray-80"]  { background-color: var(--ox-color-ibm1-cool-gray-80); }
[data-ox-bg-color="ibm1-cool-gray-90"]  { background-color: var(--ox-color-ibm1-cool-gray-90); }



/* ibm1 warm-gray */
[data-ox-bg-color="ibm1-warm-gray-1"]   { background-color: var(--ox-color-ibm1-warm-gray-1);  }
[data-ox-bg-color="ibm1-warm-gray-10"]  { background-color: var(--ox-color-ibm1-warm-gray-10); }
[data-ox-bg-color="ibm1-warm-gray-20"]  { background-color: var(--ox-color-ibm1-warm-gray-20); }
[data-ox-bg-color="ibm1-warm-gray-30"]  { background-color: var(--ox-color-ibm1-warm-gray-30); }
[data-ox-bg-color="ibm1-warm-gray-40"]  { background-color: var(--ox-color-ibm1-warm-gray-40); }
[data-ox-bg-color="ibm1-warm-gray-50"]  { background-color: var(--ox-color-ibm1-warm-gray-50); }
[data-ox-bg-color="ibm1-warm-gray-60"]  { background-color: var(--ox-color-ibm1-warm-gray-60); }
[data-ox-bg-color="ibm1-warm-gray-70"]  { background-color: var(--ox-color-ibm1-warm-gray-70); }
[data-ox-bg-color="ibm1-warm-gray-80"]  { background-color: var(--ox-color-ibm1-warm-gray-80); }
[data-ox-bg-color="ibm1-warm-gray-90"]  { background-color: var(--ox-color-ibm1-warm-gray-90); }



/* ibm1 neutral-white */
[data-ox-bg-color="ibm1-neutral-white-1"]  { background-color: var(--ox-color-ibm1-neutral-white-1); }
[data-ox-bg-color="ibm1-neutral-white-2"]  { background-color: var(--ox-color-ibm1-neutral-white-2); }
[data-ox-bg-color="ibm1-neutral-white-3"]  { background-color: var(--ox-color-ibm1-neutral-white-3); }
[data-ox-bg-color="ibm1-neutral-white-4"]  { background-color: var(--ox-color-ibm1-neutral-white-4); }



/* ibm1 cool-white */
[data-ox-bg-color="ibm1-cool-white-1"]  { background-color: var(--ox-color-ibm1-cool-white-1); }
[data-ox-bg-color="ibm1-cool-white-2"]  { background-color: var(--ox-color-ibm1-cool-white-2); }
[data-ox-bg-color="ibm1-cool-white-3"]  { background-color: var(--ox-color-ibm1-cool-white-3); }
[data-ox-bg-color="ibm1-cool-white-4"]  { background-color: var(--ox-color-ibm1-cool-white-4); }



/* ibm1 warm-white */
[data-ox-bg-color="ibm1-warm-white-1"]  { background-color: var(--ox-color-ibm1-warm-white-1); }
[data-ox-bg-color="ibm1-warm-white-2"]  { background-color: var(--ox-color-ibm1-warm-white-2); }
[data-ox-bg-color="ibm1-warm-white-3"]  { background-color: var(--ox-color-ibm1-warm-white-3); }
[data-ox-bg-color="ibm1-warm-white-4"]  { background-color: var(--ox-color-ibm1-warm-white-4); }


/* ============================================================================ */
